.weather-app {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(238, 148, 148) 98.2%
  );
  border: 1px solid #d9dad7;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  padding: 15px;
  margin: 20px;
  max-width: 600px;
  margin: auto;
}

h1 {
  color: #3c4245;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

.weather-temperature .active {
  color: #3c4245;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#temp {
  color: #3c4245;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
}

.weather-temperature .units {
  color: #3c4245;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: -20px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

#description {
  color: #3c4245;
  font-weight: 600;
  text-transform: capitalize;
}

#time {
  font-size: 25px;
  text-align: center;
}

.date {
  color: #3c4245;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.search-box {
  border: 1px solid #d9dad7;
  border-radius: 10px;
  margin-top: 12px;
  padding: 5px 20px 5px 10px;
}

button {
  display: inline;
  margin-top: 5px;
}

.conditions {
  color: #3c4245;
  font-weight: bold;
  margin-top: 5px;
}

.forecast {
  color: #3c4245;
  margin-top: 30px;
  text-align: center;
}

.forecast-days {
  font-weight: bold;
}

.forecast-temp-max {
  color: black;
}

.code {
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
}

.code a {
  text-decoration: none;
  color: black;
}

.code a:hover {
  text-decoration: underline;
}
