h1 {
  color: #3c4245;
  margin-top: 20px;
  margin-bottom: 0px;
}

#temp {
  color: #3c4245;
  font-size: 40px;
  font-weight: bold;
}

.units {
  color: #3c4245;
  font-weight: bold;
  line-height: 5px;
  position: relative;
  top: -30px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

#description {
  text-transform: capitalize;
}

.date {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

#date {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

#time {
  text-align: center;
  font-size: 25px;
}

.search-box {
  border-radius: 10px;
  border: 1px solid #d9dad7;
  padding: 5px 20px 5px 10px;
  margin-top: 10px;
}

span {
  font-weight: bold;
  color: #3c4245;
}

button {
  margin-top: 5px;
  display: inline;
}

.conditions {
  color: #3a4750;
  margin-top: 5px;
}

.forecast {
  margin-top: 30px;
  text-align: center;
  color: #3c4245;
}

.forecast-days {
  font-weight: bold;
}

.forecast-temp-max {
  color: black;
}

.weather-app {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(238, 148, 148) 98.2%
  );
  border: 1px solid #d9dad7;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  max-width: 600px;
  margin: auto;
}

.code {
  text-align: center;
  margin-top: 5px;
}

.weather-temperature .active {
  color: #3c4245;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
